@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&amp;display=swap);

body {
  background: rgb(2,0,36);
  background: -moz-linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(94,3,163,1) 35%, rgba(128,33,164,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(94,3,163,1) 35%, rgba(128,33,164,1) 100%);
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(94,3,163,1) 35%, rgba(128,33,164,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#8021a4",GradientType=1);
  min-height: 100vh;
  width: 100%;
}

.fancy-font {
  font-family: 'Permanent Marker', cursive;
}


.nav {
  background-color: #E6E6E6;
  color: black;
}

a.nav-link {
  color: black !important;
  
  &:hover { color:lighten(black, 30%) !important; background-color: darken(white, 40%) !important;}
}

$primary: #7851a9;
$info: lighten($primary, 20%);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.navbar-brand {
  & > img {
    height: 50px;
    width: 50px;
  }
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.nav-link {
  position: relative;
}
@include media-breakpoint-up(lg) {
  .nav-link.router-link-exact-active::after {
    content: '';
    width: 90%;
    height: 5px;
    background-color: $primary;
    position: absolute;
    bottom: calc(-50% + 5px);
    left: 50%;
    margin-left: -45%;
  }
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
    .clearfix {display:block;}
/* End hide from IE Mac */